<a href="https://colab.research.google.com/github/gerogeykp/Data-Science/blob/main/Python_knowledge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_language= pd.read_csv('Working_Language.csv')

In [ ]:
df_language.sample(3)

,Respondent,Age,Country,DevType,LanguageWorkedWith
53377,54469,38.0,Australia,Data or business analyst;Database administrato...,C#;HTML/CSS;JavaScript;SQL;TypeScript
45237,46177,27.0,United States,"Developer, back-end;Developer, desktop or ente...",Bash/Shell/PowerShell;C;C#;C++;Go;HTML/CSS;Jav...
22761,22849,NaN,India,Data scientist or machine learning specialist;...,C++;Java;JavaScript;Python;R;SQL

In [ ]:
df_python= df_language['LanguageWorkedWith'].str.contains('Python',na= False, case=False)

In [ ]:
df_python.value_counts()

False    39174
True     25287
Name: LanguageWorkedWith, dtype: int64

In [ ]:
python_country = df_language.loc[df_python,'Country']

In [ ]:
python_country.value_counts()

United States                         5964
India                                 2670
Germany                               1712
United Kingdom                        1621
Canada                                1011
                                      ...
Micronesia, Federated States of...       1
Angola                                   1
Solomon Islands                          1
Bahamas                                  1
Yemen                                    1
Name: Country, Length: 164, dtype: int64

In [ ]:
python_country.value_counts().loc['Germany']

1712

In [ ]:
grp_country = df_language.groupby('Country')

python_country = grp_country['LanguageWorkedWith'].apply (lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [ ]:
python_country.loc['India']

2670

In [ ]:
country_respondents = df_language['Country'].value_counts()

In [ ]:
full_df = pd.concat([country_respondents,python_country],axis=1)
full_df

                                    Country  LanguageWorkedWith
United States                         12469                5964
India                                  8403                2670
United Kingdom                         3896                1621
Germany                                3890                1712
Canada                                 2191                1011
...                                     ...                 ...
Grenada                                   1                   0
Micronesia, Federated States of...        1                   1
North Korea                               1                   0
Fiji                                      1                   0
Mali                                      1                   0

[183 rows x 2 columns]