<a href="https://colab.research.google.com/github/gerogeykp/Data-Science/blob/main/REGEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#regex nedir.. olmazsa olmazdır.DAtalar başka yerde kalmış olabilir. datayı çekip almamızı sağlıyor. yardımcı siyteler var. regex101.com..

In [3]:
import re
import pandas as pd

In [5]:
text = "a23b"

In [6]:
num = re.search("\d\d",text)
print(num)

<re.Match object; span=(1, 3), match='23'>

In [8]:
print(num.group())

23

In [9]:
text = "4pm"

In [13]:
nondeci = re.search("\D\D",text)
nondeci.group()

'pm'

In [18]:
text = "My phone number is 05055552356"

In [19]:
phone = re.search("\d"*10,text)
phone.group()

'0505555235'

In [21]:
phone = re.search("(\d\d\d)(\d\d\d)(\\d\d\d)",text)
phone.group(1)

'050'

In [26]:
value ="O 1, t 19, o 100. 10000"
output = re.findall("\d{1,6}",value)
output

['1', '19', '100', '10000']

In [27]:
phone = "2004-959-559 # This is Phone Number"

In [29]:
output =re.sub("\D",".",phone)
output

'2004.959.559.......................'

In [36]:
s = pd.Series(["a3","b44","c55555"])
s

0        a3
1       b44
2    c55555
dtype: object

In [37]:
s.str.extract("(\d\d)")

     0
0  NaN
1   44
2   55

In [38]:
s = pd.Series(["a3aa","b4aa","c5aa"])

In [43]:
s.str.extract("(\w)\d(\w)(\w)")   # paranteze almak dahil olduğunu.

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [45]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [50]:
s.str.extract("(\d\d|\d.\d|\d)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8